<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>65</key>
	<string>65.glif</string>
	<key>78</key>
	<string>78.glif</string>
	<key>92</key>
	<string>92.glif</string>
	<key>95</key>
	<string>95.glif</string>
</dict>
</plist>
