div.1 { position:fixed; left:111px; top:188px; }
div.2 { position:fixed; left:121px; top:178px; }
div.3 { position:fixed; left:131px; top:168px; }
div.4 { position:fixed; left:141px; top:158px; }
div.5 { position:fixed; left:151px; top:148px; }
div.6 { position:fixed; left:161px; top:138px; }
div.7 { position:fixed; left:171px; top:128px; }
div.8 { position:fixed; left:181px; top:118px; }
div.9 { position:fixed; left:191px; top:108px; }
div.10 { position:fixed; left:211px; top:88px; }
div.11 { position:fixed; left:221px; top:78px; }
div.12 { position:fixed; left:231px; top:78px; }
div.13 { position:fixed; left:241px; top:78px; }
div.14 { position:fixed; left:251px; top:78px; }
