<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1491</integer>
	<key>capHeight</key>
	<integer>1466</integer>
	<key>copyright</key>
	<string>(C) 2006 The Monotype Corporation. All Rights Reserved.</string>
	<key>descender</key>
	<integer>-431</integer>
	<key>familyName</key>
	<string>Arial</string>
	<key>openTypeHeadCreated</key>
	<string>2013/06/11 10:19:26</string>
	<key>openTypeNameDesigner</key>
	<string>Monotype Type Drawing Office - Robin Nicholas, Patricia Saunders 1982</string>
	<key>openTypeNameLicense</key>
	<string>You may use this font to display and print content as permitted by the license terms for the product in which this font is included. You may only (i) embed this font in content as permitted by the embedding restrictions included in this font; and (ii) temporarily download this font to a printer or other output device to help print content.</string>
	<key>openTypeNameManufacturer</key>
	<string>The Monotype Corporation</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Arial</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>1062</integer>
</dict>
</plist>
