<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>A2CB60FB-877E-4C7B-B5DC-60F6C215C7B3</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<real>400.0</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5.0</real>
	<key>com.typemytype.robofont.bg.layerShow</key>
	<true/>
	<key>com.typemytype.robofont.bg.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.bg.layerShowFill</key>
	<false/>
	<key>com.typemytype.robofont.bg.layerShowPoints</key>
	<false/>
	<key>com.typemytype.robofont.bg.layerShowStroke</key>
	<true/>
	<key>com.typemytype.robofont.bg.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.foreground.layerShow</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1.0</real>
	</array>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>bg</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>R</string>
				<string>a</string>
				<string>e</string>
				<string>g</string>
				<string>h</string>
				<string>p</string>
				<string>t</string>
				<string>x</string>
				<string>z</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>R</string>
		<string>a</string>
		<string>e</string>
		<string>g</string>
		<string>h</string>
		<string>p</string>
		<string>t</string>
		<string>x</string>
		<string>z</string>
	</array>
</dict>
</plist>
