<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<dict>
		<key>@KERN_RIGHT_C</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_T.sc</key>
		<integer>-35</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-150</integer>
		<key>@KERN_RIGHT_V.sc</key>
		<integer>-70</integer>
		<key>@KERN_RIGHT_quotedblright</key>
		<integer>-35</integer>
		<key>@KERN_RIGHT_uni01B4</key>
		<integer>-70</integer>
		<key>T</key>
		<integer>-85</integer>
		<key>uni02BF</key>
		<integer>-70</integer>
	</dict>
	<key>@KERN_LEFT_A.sc</key>
	<dict>
		<key>@KERN_RIGHT_C.sc</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_T.sc</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_V.sc</key>
		<integer>-75</integer>
		<key>@KERN_RIGHT_quotedblright</key>
		<integer>-35</integer>
	</dict>
	<key>@KERN_LEFT_C.sc</key>
	<dict>
		<key>@KERN_RIGHT_C.sc</key>
		<integer>-15</integer>
	</dict>
	<key>@KERN_LEFT_D</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-95</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>eth</key>
		<integer>-10</integer>
	</dict>
	<key>@KERN_LEFT_D.sc</key>
	<dict>
		<key>@KERN_RIGHT_A.sc</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_V.sc</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_Y.sc</key>
		<integer>-15</integer>
	</dict>
	<key>@KERN_LEFT_E</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_i.dotless</key>
		<integer>-10</integer>
		<key>@KERN_RIGHT_uni01B4</key>
		<integer>-30</integer>
		<key>dotlessi</key>
		<integer>-10</integer>
		<key>eth</key>
		<integer>-25</integer>
		<key>j.dotless</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>@KERN_LEFT_F</key>
	<dict>
		<key>@KERN_RIGHT_A.sc</key>
		<integer>-85</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_i.dotless</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_uni01B4</key>
		<integer>-30</integer>
		<key>dotlessi</key>
		<integer>-40</integer>
		<key>eth</key>
		<integer>-30</integer>
		<key>j.dotless</key>
		<integer>-40</integer>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>@KERN_LEFT_F.sc</key>
	<dict>
		<key>@KERN_RIGHT_A.sc</key>
		<integer>-45</integer>
	</dict>
	<key>@KERN_LEFT_L.sc</key>
	<dict>
		<key>@KERN_RIGHT_T.sc</key>
		<integer>-75</integer>
		<key>@KERN_RIGHT_V.sc</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_Y.sc</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_quotedblright</key>
		<integer>-60</integer>
	</dict>
	<key>@KERN_LEFT_R.sc</key>
	<dict>
		<key>@KERN_RIGHT_C.sc</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_T.sc</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_V.sc</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_Y.sc</key>
		<integer>-30</integer>
	</dict>
	<key>@KERN_LEFT_T</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-85</integer>
		<key>@KERN_RIGHT_A.sc</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_B.sc</key>
		<integer>-110</integer>
		<key>@KERN_RIGHT_C</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_C.sc</key>
		<integer>-135</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-105</integer>
		<key>@KERN_RIGHT_colon</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_comma</key>
		<integer>-75</integer>
		<key>@KERN_RIGHT_i.dotless</key>
		<integer>-90</integer>
		<key>@KERN_RIGHT_uni01B4</key>
		<integer>-100</integer>
		<key>dotlessi</key>
		<integer>-90</integer>
		<key>eth</key>
		<integer>-105</integer>
		<key>j.dotless</key>
		<integer>-90</integer>
		<key>t</key>
		<integer>-100</integer>
	</dict>
	<key>@KERN_LEFT_T.sc</key>
	<dict>
		<key>@KERN_RIGHT_A.sc</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_C.sc</key>
		<integer>-15</integer>
		<key>@KERN_RIGHT_comma</key>
		<integer>-120</integer>
	</dict>
	<key>@KERN_LEFT_Upsilon</key>
	<dict>
		<key>@KERN_RIGHT_alpha</key>
		<integer>-50</integer>
	</dict>
	<key>@KERN_LEFT_V</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-150</integer>
		<key>@KERN_RIGHT_A.sc</key>
		<integer>-150</integer>
		<key>@KERN_RIGHT_B.sc</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_C.sc</key>
		<integer>-85</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_colon</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_comma</key>
		<integer>-100</integer>
		<key>eth</key>
		<integer>-100</integer>
		<key>t</key>
		<integer>-80</integer>
	</dict>
	<key>@KERN_LEFT_V.sc</key>
	<dict>
		<key>@KERN_RIGHT_A.sc</key>
		<integer>-75</integer>
		<key>@KERN_RIGHT_C.sc</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_comma</key>
		<integer>-80</integer>
	</dict>
	<key>@KERN_LEFT_Y.sc</key>
	<dict>
		<key>@KERN_RIGHT_C.sc</key>
		<integer>-15</integer>
	</dict>
	<key>@KERN_LEFT_ae</key>
	<dict>
		<key>@KERN_RIGHT_V</key>
		<integer>-100</integer>
		<key>T</key>
		<integer>-140</integer>
	</dict>
	<key>@KERN_LEFT_comma</key>
	<dict>
		<key>@KERN_RIGHT_T.sc</key>
		<integer>-120</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-100</integer>
		<key>T</key>
		<integer>-75</integer>
	</dict>
	<key>@KERN_LEFT_d</key>
	<dict>
		<key>@KERN_RIGHT_quotedblright</key>
		<integer>-15</integer>
	</dict>
	<key>@KERN_LEFT_f</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_abreve</key>
		<integer>70</integer>
		<key>dotlessi</key>
		<integer>70</integer>
		<key>eth</key>
		<integer>70</integer>
		<key>uni02BF</key>
		<integer>120</integer>
	</dict>
	<key>@KERN_LEFT_f._i</key>
	<dict>
		<key>j.dotless</key>
		<integer>19</integer>
	</dict>
	<key>@KERN_LEFT_h</key>
	<dict>
		<key>@KERN_RIGHT_uni01B4</key>
		<integer>-16</integer>
	</dict>
	<key>@KERN_LEFT_quotedblleft</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-130</integer>
	</dict>
	<key>@KERN_LEFT_quotedblright</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-130</integer>
		<key>@KERN_RIGHT_A.sc</key>
		<integer>-120</integer>
		<key>@KERN_RIGHT_C.sc</key>
		<integer>-70</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-90</integer>
		<key>@KERN_RIGHT_i.dotless</key>
		<integer>-30</integer>
		<key>dotlessi</key>
		<integer>-30</integer>
		<key>eth</key>
		<integer>-90</integer>
		<key>j.dotless</key>
		<integer>-30</integer>
	</dict>
	<key>@KERN_LEFT_uni01B4</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-10</integer>
		<key>@KERN_RIGHT_comma</key>
		<integer>-70</integer>
		<key>eth</key>
		<integer>-10</integer>
	</dict>
	<key>@KERN_LEFT_uni0413</key>
	<dict>
		<key>@KERN_RIGHT_uni0430</key>
		<integer>-130</integer>
		<key>@KERN_RIGHT_uni0432</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_uni0434</key>
		<integer>-140</integer>
		<key>@KERN_RIGHT_uni0436</key>
		<integer>-105</integer>
		<key>@KERN_RIGHT_uni0442</key>
		<integer>-130</integer>
		<key>uni0443</key>
		<integer>-115</integer>
		<key>uni0444</key>
		<integer>-70</integer>
		<key>uni0447</key>
		<integer>-115</integer>
	</dict>
	<key>Gamma</key>
	<dict>
		<key>@KERN_RIGHT_alpha</key>
		<integer>-100</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@KERN_RIGHT_quotedblright</key>
		<integer>-55</integer>
		<key>@KERN_RIGHT_uni01B4</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-120</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-20</integer>
		<key>@KERN_RIGHT_i.dotless</key>
		<integer>-10</integer>
		<key>@KERN_RIGHT_uni01B4</key>
		<integer>-40</integer>
		<key>dotlessi</key>
		<integer>-10</integer>
		<key>eth</key>
		<integer>-20</integer>
		<key>j.dotless</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-40</integer>
	</dict>
	<key>Tau</key>
	<dict>
		<key>@KERN_RIGHT_alpha</key>
		<integer>-90</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>uni02BF</key>
		<integer>-45</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>j</key>
		<integer>25</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>@KERN_RIGHT_quotedblright</key>
		<integer>-15</integer>
	</dict>
	<key>uni02BF</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-70</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-55</integer>
		<key>eth</key>
		<integer>-55</integer>
	</dict>
	<key>uni0422</key>
	<dict>
		<key>@KERN_RIGHT_uni0430</key>
		<integer>-125</integer>
		<key>@KERN_RIGHT_uni0432</key>
		<integer>-95</integer>
		<key>@KERN_RIGHT_uni0434</key>
		<integer>-135</integer>
		<key>@KERN_RIGHT_uni0436</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_uni0442</key>
		<integer>-130</integer>
		<key>uni0443</key>
		<integer>-110</integer>
		<key>uni0444</key>
		<integer>-65</integer>
		<key>uni0447</key>
		<integer>-110</integer>
	</dict>
</dict>
</plist>
