<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<array>
		<string>A</string>
		<string>uni0245</string>
	</array>
	<key>@KERN_LEFT_A.sc</key>
	<array>
		<string>a.sc</string>
		<string>A.sc</string>
	</array>
	<key>@KERN_LEFT_C.sc</key>
	<array>
		<string>C.sc</string>
		<string>c.sc</string>
	</array>
	<key>@KERN_LEFT_D</key>
	<array>
		<string>D</string>
		<string>uni019F</string>
		<string>uni018F</string>
		<string>O</string>
		<string>Ohorn</string>
		<string>Eth</string>
		<string>uni01B2</string>
		<string>uni0186</string>
	</array>
	<key>@KERN_LEFT_D.sc</key>
	<array>
		<string>eth.sc</string>
		<string>D.sc</string>
		<string>Eth.sc</string>
		<string>d.sc</string>
		<string>O.sc</string>
		<string>o.sc</string>
	</array>
	<key>@KERN_LEFT_E</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>Ecircumflex</string>
		<string>Ebreve</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>uni0246</string>
		<string>Eacute</string>
		<string>uni1EBC</string>
		<string>E</string>
		<string>Edotaccent</string>
	</array>
	<key>@KERN_LEFT_F</key>
	<array>
		<string>uni0191</string>
		<string>F</string>
	</array>
	<key>@KERN_LEFT_F.sc</key>
	<array>
		<string>F.sc</string>
		<string>f.sc</string>
	</array>
	<key>@KERN_LEFT_L.sc</key>
	<array>
		<string>L.sc</string>
		<string>l.sc</string>
	</array>
	<key>@KERN_LEFT_R.sc</key>
	<array>
		<string>R.sc</string>
		<string>r.sc</string>
	</array>
	<key>@KERN_LEFT_T</key>
	<array>
		<string>uni01AE</string>
		<string>uni023E</string>
		<string>uni01AC</string>
		<string>T</string>
	</array>
	<key>@KERN_LEFT_T.sc</key>
	<array>
		<string>t.sc</string>
		<string>T.sc</string>
	</array>
	<key>@KERN_LEFT_Upsilon</key>
	<array>
		<string>uni1F59</string>
		<string>Upsilondieresis</string>
		<string>Upsilon</string>
		<string>uni1F5B</string>
		<string>Upsilontonos</string>
		<string>uni1F5F</string>
		<string>uni1F5D</string>
	</array>
	<key>@KERN_LEFT_V</key>
	<array>
		<string>W</string>
		<string>uni024E</string>
		<string>V</string>
		<string>Y</string>
		<string>uni0194</string>
		<string>uni01B3</string>
	</array>
	<key>@KERN_LEFT_V.sc</key>
	<array>
		<string>w.sc</string>
		<string>v.sc</string>
		<string>V.sc</string>
		<string>W.sc</string>
	</array>
	<key>@KERN_LEFT_Y.sc</key>
	<array>
		<string>Y.sc</string>
		<string>y.sc</string>
	</array>
	<key>@KERN_LEFT__empty_lu.0_st.3_cl.0</key>
	<array>
	</array>
	<key>@KERN_LEFT_ae</key>
	<array>
		<string>b.f_</string>
		<string>c</string>
		<string>b</string>
		<string>ae</string>
		<string>oe</string>
		<string>o</string>
		<string>p</string>
		<string>e</string>
		<string>thorn.f_</string>
		<string>thorn</string>
	</array>
	<key>@KERN_LEFT_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@KERN_LEFT_d</key>
	<array>
		<string>l.f_</string>
		<string>d</string>
		<string>l</string>
	</array>
	<key>@KERN_LEFT_f</key>
	<array>
		<string>f.long</string>
		<string>f_f</string>
		<string>f_f.long</string>
		<string>f</string>
		<string>florin</string>
		<string>f.DEU</string>
	</array>
	<key>@KERN_LEFT_f._i</key>
	<array>
		<string>f._i</string>
		<string>longs._i</string>
	</array>
	<key>@KERN_LEFT_h</key>
	<array>
		<string>h</string>
		<string>h.f_</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@KERN_LEFT_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@KERN_LEFT_quotedblright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@KERN_LEFT_uni01B4</key>
	<array>
		<string>uni0240</string>
		<string>uni024F</string>
		<string>w</string>
		<string>v</string>
		<string>y</string>
		<string>uni01B4</string>
	</array>
	<key>@KERN_LEFT_uni0413</key>
	<array>
		<string>uni0413</string>
		<string>uni0490</string>
	</array>
	<key>@KERN_RIGHT_A</key>
	<array>
		<string>A</string>
		<string>uni0245</string>
	</array>
	<key>@KERN_RIGHT_A.sc</key>
	<array>
		<string>a.sc</string>
		<string>A.sc</string>
	</array>
	<key>@KERN_RIGHT_B.sc</key>
	<array>
		<string>l.sc</string>
		<string>i.sc</string>
		<string>B.sc</string>
		<string>u.sc</string>
		<string>f.sc</string>
		<string>H.sc</string>
		<string>R.sc</string>
		<string>E.sc</string>
		<string>D.sc</string>
		<string>N.sc</string>
		<string>P.sc</string>
		<string>k.sc</string>
		<string>M.sc</string>
		<string>L.sc</string>
		<string>I.sc</string>
		<string>b.sc</string>
		<string>U.sc</string>
		<string>F.sc</string>
		<string>h.sc</string>
		<string>r.sc</string>
		<string>e.sc</string>
		<string>d.sc</string>
		<string>n.sc</string>
		<string>p.sc</string>
		<string>K.sc</string>
		<string>m.sc</string>
	</array>
	<key>@KERN_RIGHT_C</key>
	<array>
		<string>Q</string>
		<string>C</string>
		<string>G</string>
		<string>Ohorn</string>
		<string>O</string>
	</array>
	<key>@KERN_RIGHT_C.sc</key>
	<array>
		<string>g.sc</string>
		<string>Q.sc</string>
		<string>s.sc</string>
		<string>G.sc</string>
		<string>O.sc</string>
		<string>q.sc</string>
		<string>c.sc</string>
		<string>o.sc</string>
		<string>S.sc</string>
		<string>C.sc</string>
	</array>
	<key>@KERN_RIGHT_T.sc</key>
	<array>
		<string>t.sc</string>
		<string>T.sc</string>
	</array>
	<key>@KERN_RIGHT_V</key>
	<array>
		<string>W</string>
		<string>uni024E</string>
		<string>V</string>
		<string>Y</string>
		<string>uni0194</string>
		<string>uni01B3</string>
	</array>
	<key>@KERN_RIGHT_V.sc</key>
	<array>
		<string>w.sc</string>
		<string>v.sc</string>
		<string>V.sc</string>
		<string>W.sc</string>
	</array>
	<key>@KERN_RIGHT_Y.sc</key>
	<array>
		<string>Y.sc</string>
		<string>y.sc</string>
	</array>
	<key>@KERN_RIGHT__empty_lu.0_st.3_cl.0</key>
	<array>
	</array>
	<key>@KERN_RIGHT_a</key>
	<array>
		<string>ae</string>
		<string>uni024B</string>
		<string>uni01EB</string>
		<string>scedilla</string>
		<string>uni0247</string>
		<string>ccedilla</string>
		<string>uni0238</string>
		<string>uni0239</string>
		<string>a</string>
		<string>uni01F3</string>
		<string>c</string>
		<string>eogonek</string>
		<string>e</string>
		<string>d</string>
		<string>g</string>
		<string>oe</string>
		<string>o</string>
		<string>q</string>
		<string>s</string>
		<string>uni01C6</string>
		<string>aogonek</string>
	</array>
	<key>@KERN_RIGHT_abreve</key>
	<array>
		<string>uni1E51</string>
		<string>aring</string>
		<string>ograve</string>
		<string>uni1E9C</string>
		<string>igrave</string>
		<string>edieresis</string>
		<string>uni1E07</string>
		<string>uni013C</string>
		<string>uni1E35</string>
		<string>ccaron</string>
		<string>obreve</string>
		<string>uni1EF7</string>
		<string>uni1E17</string>
		<string>uni1ECF</string>
		<string>uni1E96</string>
		<string>uni1E97</string>
		<string>uni1ECB</string>
		<string>uni1EB1</string>
		<string>hcircumflex</string>
		<string>uni1EB3</string>
		<string>uni1E2B</string>
		<string>uni1EB5</string>
		<string>uni1E2D</string>
		<string>uni1EB7</string>
		<string>uni1E2F</string>
		<string>lslash</string>
		<string>scaron</string>
		<string>uni1E6B</string>
		<string>iacute</string>
		<string>uni1E65</string>
		<string>uni1E67</string>
		<string>uni1E29</string>
		<string>uni1EA6</string>
		<string>uni1E9F</string>
		<string>uni1EC5</string>
		<string>uni1E9A</string>
		<string>uni1E9B</string>
		<string>uni1EC1</string>
		<string>uni1E23</string>
		<string>uni1EBB</string>
		<string>uni1E25</string>
		<string>uni1E27</string>
		<string>uni1EC9</string>
		<string>ecaron</string>
		<string>b</string>
		<string>uni0137</string>
		<string>lcaron</string>
		<string>uni1E1D</string>
		<string>h</string>
		<string>uni1E1F</string>
		<string>iogonek</string>
		<string>ydieresis</string>
		<string>l</string>
		<string>uni1EFB</string>
		<string>i</string>
		<string>ij</string>
		<string>i.TRK</string>
		<string>idieresis</string>
		<string>thorn</string>
		<string>uni1E37</string>
		<string>j</string>
		<string>uni1E33</string>
		<string>scircumflex</string>
		<string>uni1E31</string>
		<string>longs</string>
		<string>rcaron</string>
		<string>uni1E39</string>
		<string>uni1ED3</string>
		<string>ugrave</string>
		<string>uni1E8D</string>
		<string>uni1ED7</string>
		<string>agrave</string>
		<string>jcircumflex</string>
		<string>uni1EAD</string>
		<string>uni1EAF</string>
		<string>ldot</string>
		<string>uni1EAB</string>
		<string>abreve</string>
		<string>egrave</string>
		<string>uni1EED</string>
		<string>germandbls</string>
		<string>uni0123</string>
		<string>itilde</string>
		<string>uni1E4F</string>
		<string>lacute</string>
		<string>ibreve</string>
		<string>ubreve</string>
		<string>uni1E15</string>
		<string>gbreve</string>
		<string>adieresis</string>
		<string>zcaron</string>
		<string>ebreve</string>
		<string>uni1EEB</string>
		<string>icircumflex</string>
		<string>uni1EE7</string>
		<string>acircumflex</string>
		<string>uni1E05</string>
		<string>uni1E03</string>
		<string>uni1EA9</string>
		<string>uni1E9D</string>
		<string>uni1EA8</string>
		<string>uni1EDF</string>
		<string>uni1EDD</string>
		<string>imacron</string>
		<string>uni1EA5</string>
		<string>k</string>
		<string>uni1EA7</string>
		<string>uni1EA3</string>
		<string>uni1E3D</string>
		<string>uni1E3B</string>
		<string>uni1E7B</string>
		<string>ncaron</string>
		<string>hbar</string>
	</array>
	<key>@KERN_RIGHT_alpha</key>
	<array>
		<string>tau</string>
		<string>uni1FC3</string>
		<string>epsilon</string>
		<string>omicron</string>
		<string>omega</string>
		<string>uni1FB3</string>
		<string>rho</string>
		<string>upsilon</string>
		<string>alpha</string>
		<string>sigma1</string>
		<string>kappa</string>
		<string>chi</string>
		<string>nu</string>
		<string>mu</string>
		<string>uni1FF3</string>
		<string>eta</string>
		<string>pi</string>
		<string>sigma</string>
		<string>iota</string>
		<string>gamma</string>
	</array>
	<key>@KERN_RIGHT_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@KERN_RIGHT_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@KERN_RIGHT_i.dotless</key>
	<array>
		<string>i.dotless</string>
		<string>uni024D</string>
		<string>uni01BF</string>
		<string>m</string>
		<string>uni01BA</string>
		<string>p</string>
		<string>r</string>
		<string>u</string>
		<string>n</string>
		<string>uni01B6</string>
		<string>uogonek</string>
		<string>z</string>
		<string>uni021D</string>
	</array>
	<key>@KERN_RIGHT_quotedblright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@KERN_RIGHT_uni01B4</key>
	<array>
		<string>uni024F</string>
		<string>w</string>
		<string>v</string>
		<string>y</string>
		<string>x</string>
		<string>uni01B4</string>
	</array>
	<key>@KERN_RIGHT_uni0430</key>
	<array>
		<string>uni0437</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0454</string>
		<string>uni0455</string>
		<string>uni04E9</string>
		<string>uni0435</string>
		<string>uni044D</string>
		<string>uni044F</string>
		<string>uni0430</string>
	</array>
	<key>@KERN_RIGHT_uni0432</key>
	<array>
		<string>uni0449</string>
		<string>uni0448</string>
		<string>uni0446</string>
		<string>uni0438</string>
		<string>uni043B.alt</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni043A</string>
		<string>uni043C</string>
		<string>uni0434.alt</string>
		<string>uni044E</string>
		<string>uni0459.alt</string>
		<string>uni045A</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044B</string>
	</array>
	<key>@KERN_RIGHT_uni0434</key>
	<array>
		<string>uni0434</string>
		<string>uni0459</string>
		<string>uni043B</string>
	</array>
	<key>@KERN_RIGHT_uni0436</key>
	<array>
		<string>uni0445</string>
		<string>uni0436</string>
	</array>
	<key>@KERN_RIGHT_uni0442</key>
	<array>
		<string>uni044A</string>
		<string>uni0442</string>
	</array>
</dict>
</plist>
