$def with (posts,post,form,formparam,master,mastglobal,webglyph,glyphparam,cfont,postspa)
<p id="menuleft">Glyph Edit</p>

<style>@font-face {
	font-family:'metapolator';
	src:url('/static/font-webfont.eot');
	src:url('/static/font-webfont.eot?#iefix') format('embedded-opentype'),url('/static/font-webfont.woff') format('woff'),url('/static/font-webfont.ttf') format('truetype'),url('/static/font-webfont.svg#metapolator') format('svg');
	font-weight:normal;
	font-style:normal;
}

left {
	position:absolute;

	font-family:"metapolator";
	font-size:1000px;
	color:rgba(255, 0, 0, 0.2);
	right:0;
bottom:-360;
	z-index:-6;



}
middle, right {
	position:absolute;
bottom:-360;
left:6;

	font-family:"metapolator";
	font-size:1000px;
	z-index:-5;


}
right {
	color:CCFFFF;
	z-index:-8;
}
      
      .first {
        color: grey;
      }
      .second { 
        color: rgba(255, 0, 0, 0.2);
      }

p,h2,table,th,td, #menu {
	font:normal 15px/19px "Courier New",Courier,mono;
	z-index:5;
}
h2 {
	color:red;
}
#center {
	bottom:0;
	height:0px;
	left:-500;
	margin:auto;
	position:absolute;
	top:400;
	right:0;
	width:0px;
	-webkit-transform:translate(0%,0%) scale(100%,100%);
}
#menu {
	position:relative;
	z-index:5;
	width:200px;
	float:right;
	background-color:black;
	width:200px;
	text-align:left;
	color: white;
        border-style:solid;
	border-color:black;
        border-width:5px;


}

#menuleft {
	width:200px;

}

#menuleftgreen {
	z-index:5;
	background-color:green;
	width:200px;
	text-align:left;
	color: yellow;
        border-style:solid;
	border-color:green;
        border-width:5px;


}


a:visited {
		color:inherit;
	text-decoration:none;
}
a:link {
		color:inherit;
	text-decoration:none;
}
table,th,td, #menuleft{
	background-color:black;
	text-align:left;
	color: white;
        border-style:solid;
	border-color:black;
        border-width:5px;

}
 
</style>


<p id="menuleft">  
$if cfont.idwork == '0' :
       Font A: $cfont.fontna 
$if cfont.idwork == '1' : 
       Font B: $cfont.fontnb 
</p> 

<p> 
<a id="menuleftgreen" href="/metap/0">Edit Font A</a> <br><br>
<a id="menuleftgreen" href="/metap/1">Edit Font B</a> <br>
</p> 

<p id="menu">  
$for mast in master:
   $mast.FontName  

$for mast in mastglobal:
   Metapolation $mast.metapolation <br> 
   superness $mast.superness <br>
   penwidth $mast.penwidth <br>
   unitwidht $mast.unitwidth <br>
   xHeight $mast.xHeight <br>
   ht $mast.ht <br>
   fontsize $mast.fontsize <br>
   this is view.html
 <br>
</p>

<p id="menuleft" >
	<form action="" method="post">
$:form.render() 
$if form.d.PointName > "0" : 
    $:formparam.render() 

<!-- add new parameters here: -->

<p id="menuleftgreen" >
    $if glyphparam.startp != None :
       startp $glyphparam.startp </p> <br>
    $if glyphparam.leftp != None :
       leftp $glyphparam.leftp <br>
    $if glyphparam.rightp != None :
       rightp $glyphparam.rightp <br>
    $if glyphparam.downp != None :
       downp $glyphparam.downp <br>
    $if glyphparam.upp != None :
       upp $glyphparam.upp <br>
    $if glyphparam.superright != None :
       superright  $glyphparam.superright <br>
    $if glyphparam.superleft != None :
       superleft $glyphparam.superleft <br>
    $if glyphparam.tension != None :
       tension $glyphparam.tension <br>
    $if glyphparam.tensionend != None :
       tensionend $glyphparam.tensionend <br>
    $if glyphparam.cycle != None :
       cycle $glyphparam.cycle <br>
    $if glyphparam.penshiftedx != None :
       penshiftedx $glyphparam.penshiftedx <br>
    $if glyphparam.penshiftedy != None :
       penshiftedy $glyphparam.penshiftedy <br>
    $if glyphparam.pointshiftx != None :
       pointshiftx $glyphparam.pointshiftx <br>
    $if glyphparam.pointshifty != None :
       pointshifty $glyphparam.pointshifty <br>
    $if glyphparam.superness != None :
       supernesnn $glyphparam.superness <br>
    $if glyphparam.penwidth != None :
       penwidth $glyphparam.penwidth <br>
    $if glyphparam.xHeight != None :
       xHeight $glyphparam.xHeight <br>
    $if glyphparam.cardinal != None :
       cardinal $glyphparam.cardinal <br>
    $if glyphparam.overx != None :
       overx $glyphparam.overx <br>
    $if glyphparam.overbase != None :
       overx $glyphparam.overbase <br>
    $if glyphparam.overcap != None :
       overx $glyphparam.overcap <br>

</p>

<p id="menuleft"> points - parameters </p>
<p id="menuleft"> 
<!-- add new parameters here: -->

$for ppp in postspa:
   $if ppp.PointName != '' :
     $ppp.id  $ppp.PointName
     $if ppp.startp != None :
         startp $ppp.startp
     $if ppp.leftp != None :
       leftp $ppp.leftp
     $if ppp.rightp != None :
       rightp $ppp.rightp
     $if ppp.downp != None :
       downp $ppp.downp
     $if ppp.upp != None :
       upp $ppp.upp
     $if ppp.superright != None :
       superright  $ppp.superright
     $if ppp.superleft != None :
       superleft $ppp.superleft
     $if ppp.tension != None :
       tension $ppp.tension
     $if ppp.tensionend != None :
       tensionend $ppp.tensionend
     $if ppp.cycle != None :
       cycle $ppp.cycle
     $if ppp.penshiftedx != None :
       penshiftedx $ppp.penshiftedx
     $if ppp.penshiftedy != None :
       penshiftedy $ppp.penshiftedy
     $if ppp.pointshiftx != None :
       pointshiftx $ppp.pointshiftx
     $if ppp.pointshifty != None :
       pointshifty $ppp.pointshifty
     $if ppp.superness != None :
       supernesnn $ppp.superness
     $if ppp.penwidth != None :
       penwidth $ppp.penwidth
     $if ppp.xHeight != None :
       xHeight $ppp.xHeight
     $if ppp.cardinal != None :
       cardinal $ppp.cardinal
     $if ppp.overx != None :
       overx $ppp.overx
     $if ppp.overbase != None :
       overbase $ppp.overbase
     $if ppp.overcap != None :
       overcap $ppp.overcap

   <br>
</p>

<p style="color:red"> &#9678; z points </p>
<p style="color:blue"> &#9678; undefined points </p>
<p style="color:CCFFFF"> &#9678; control points </p>




<div id="center">

	<div>
		<left> &#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;	 </left>
	</div>
	<div>
		<middle>
<span class="first">$webglyph</span><span class="second">&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;&#124;</span> 
	</div>

$for posti in posts:
	<div id="$posti.id" style="$posti.position">
		<p>
			<a href="/view/$posti.id" style="text-decoration:none">&#9678;$posti.PointNr</a>
		</p>
	</div>
</div>




