$def with (posts,post,form,formparam,master,webglyph)

<h2>Glyph Edit</h2>

$for mast in master:
  <p> $mast.FontName <br>
   Interpolation $mast.Interpolation <br> 
   superness $mast.superness <br>
   penwidth $mast.penwidht <br>
   unitwidht $mast.unitwidht <br>
   xHeight $mast.xHeight <br>
   this is view.html
 <br>
</p>

<style type="text/css">

@font-face {
    font-family: 'metapolator';
    src: url('/static/font-webfont.eot');
    src: url('/static/font-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font-webfont.woff') format('woff'),
         url('/static/font-webfont.ttf') format('truetype'),
         url('/static/font-webfont.svg#metapolator') format('svg');
    font-weight: normal;
    font-style: normal;

}

h3_b {
                        position: absolute;
                        bottom: -359px;
                        left: 9px;
 			z-index:-3;
                        font-family:  "metapolator";
                        font-size: 1200px;
                        color:grey;
                                        }

#center {
  background: red;
  bottom: 0;
  height: 0px;
  left: -300;    
  margin: auto;
  position: absolute;
  top: 200;      
  right: 0;
  width: 0px;
  -webkit-transform: translate(0%, 0%) scale(0.80, 0.80);
}


a:link {
   color:inherit;
}


					
</style>





<div id="center" >


<div>
        <h3_b>
$webglyph
        </h3_b>
</div>

$for posti in posts:
        <div  id="$posti.id" style="$posti.position">
        <p><a href="/view/$posti.id" style="text-decoration:none">&#9673;$posti.PointNr</a></p> 
        </div>
</div>


<div style="position:absolute;bottom:20px;">
<form action="" method="post">
$:form.render()
$if form.d.PointName > "0" :
   $:formparam.render()
</div>

