$def with (posts,post,form,formparam,formparamG,master,mastglobal,webglyph,glyphparam,groupparam,cfont,postspa)
<link rel="stylesheet" type="text/css" href="/static/mfg.css"/>
<style>
     .first {
        color: grey;
      }
      .second { 
        color: rgba(120, 120, 120, 0.2);
      }

p,h2,table,th,td, .menu, input, select, textarea {
	font:normal 15px/19px Menlo,'Inconsolata',mono;
	z-index:5;
	margin:0 0 8 0;
}

h2 {
	color:red;
}
#center {
	bottom:0;
	height:0px;
	left:-500;
	margin:auto;
	position:absolute;
	top:630px;
	right:0;
	width:0px;
	-webkit-transform:translate(0%,0%) scale(100%,100%);
}

#viewmenu {
	float:right;
	z-index:5;
	color: black;
	margin: 5px 20px 0 0;
}

#menuleft {
	width:300px;

}

.menuleftgreen {
	z-index:5;
	background-color:green;
	width:300px;
	text-align:left;
	color: yellow;
	border-style:solid;
	border-color:green;
	border-width:5px;
}
#menuleftorange {
	z-index:5;
	background-color:orange;
	width:300px;
	text-align:left;
	color: yellow;
	border-style:solid;
	border-color:orange;
	border-width:5px;
}
a:visited {
		color:inherit;
	text-decoration:none;
}
a:link {
		color:inherit;
	text-decoration:none;
}
table,tr, #menuleft{
	background-color:black;
	text-align:left;
	color: white;
	border-style:solid;
	border-color:black;
	border-width:4px;
}

</style>

<p id="viewmenu">  
$for mast in master:
   $mast.FontName  
$for mast in mastglobal:
   Metapolation $mast.metapolation <br> 
   fontsize $mast.fontsize <br>
</p>

<p id="menuleft">  
$if cfont.idwork == '0' :
       Font A: $cfont.fontna 
$if cfont.idwork == '1' : 
       Font B: $cfont.fontnb 
</p> 

<p style="margin:20px 0;">
<span class="button"><a href="/metap/0">Edit Font A</a></span>&nbsp
<span class="button"><a href="/metap/1">Edit Font B</a></span>
</p> 

<form action="" method="post">
$:form.render() 
<p>
$if form.d.PointName > "0" : 
    $:formparam.render() 
</p>
<!-- add new parameters here: -->

<p class="menuleftgreen" >
    $if glyphparam.startp != None :
       startp $glyphparam.startp <br>
    $if glyphparam.doubledash != None :
       doubledash $glyphparam.doubledash  <br>
    $if glyphparam.tripledash != None :
       tripledash $glyphparam.tripledash  <br>
    $if glyphparam.leftp != None :
       leftp $glyphparam.leftp <br>
    $if glyphparam.rightp != None :
       rightp $glyphparam.rightp <br>
    $if glyphparam.downp != None :
       downp $glyphparam.downp <br>
    $if glyphparam.upp != None :
       upp $glyphparam.upp <br>
    $if glyphparam.dir != None :
       dir $glyphparam.dir <br>
    $if glyphparam.leftp2 != None :
       leftp2 $glyphparam.leftp2 <br>
    $if glyphparam.rightp2 != None :
       rightp2 $glyphparam.rightp2 <br>
    $if glyphparam.downp2 != None :
       downp2 $glyphparam.downp2 <br>
    $if glyphparam.upp2 != None :
       upp2 $glyphparam.upp2 <br>
    $if glyphparam.dir2 != None :
       dir2 $glyphparam.dir2 <br>
    $if glyphparam.superright != None :
       superright  $glyphparam.superright <br>
    $if glyphparam.superleft != None :
       superleft $glyphparam.superleft <br>
    $if glyphparam.tension != None :
       tension $glyphparam.tension <br>
    $if glyphparam.tensionand != None :
       tensionand $glyphparam.tensionand <br>
    $if glyphparam.cycle != None :
       cycle $glyphparam.cycle <br>
    $if glyphparam.penshifted != None :
       penshifted $glyphparam.penshifted <br>
    $if glyphparam.pointshifted != None :
       pointshifted $glyphparam.pointshifted <br>
    $if glyphparam.superness != None :
       supernesnn $glyphparam.superness <br>
    $if glyphparam.penwidth != None :
       penwidth $glyphparam.penwidth <br>
    $if glyphparam.xHeight != None :
       xHeight $glyphparam.xHeight <br>
    $if glyphparam.cardinal != None :
       cardinal $glyphparam.cardinal <br>
    $if glyphparam.overx != None :
       overx $glyphparam.overx <br>
    $if glyphparam.overbase != None :
       overbase $glyphparam.overbase <br>
    $if glyphparam.overcap != None :
       overcap $glyphparam.overcap <br>
    $if glyphparam.overasc != None :
       overasc $glyphparam.overasc <br>
    $if glyphparam.overdesc != None :
       overdesc $glyphparam.overdesc <br>
    $if glyphparam.stemcutter != None :
       stemcutter $glyphparam.stemcutter <br>
    $if glyphparam.stemshift != None :
       stemshift $glyphparam.stemshift <br>
    $if glyphparam.inktrap_l != None :
       inktrap_l $glyphparam.inktrap_l <br>
    $if glyphparam.inktrap_r != None :
       inktrap_r $glyphparam.inktrap_r <br>
</p>

<p id="menuleft" >
	<form action="" method="post">

$if form.d.groupn > "0" : 
    $:formparamG.render() 
</p>

<p id="menuleftorange" > 
    $if groupparam != None :
     $if groupparam.startp != None :
       startp $groupparam.startp  <br>
     $if groupparam.doubledash != None :
       doubledash $groupparam.doubledash <br>
     $if groupparam.tripledash != None :
       tripledash $groupparam.tripledash  <br>
     $if groupparam.leftp != None :
       leftp $groupparam.leftp <br>
     $if groupparam.rightp != None :
       rightp $groupparam.rightp <br>
     $if groupparam.downp != None :
       downp $groupparam.downp <br>
     $if groupparam.upp != None :
       upp $groupparam.upp <br>
     $if groupparam.dir != None :
       dir $groupparam.dir <br>
     $if groupparam.leftp2 != None :
       leftp2 $groupparam.leftp2 <br>
     $if groupparam.rightp2 != None :
       rightp2 $groupparam.rightp2 <br>
     $if groupparam.downp2 != None :
       downp2 $groupparam.downp2 <br>
     $if groupparam.upp2 != None :
       upp2 $groupparam.upp2 <br>
     $if groupparam.dir2 != None :
       dir2 $groupparam.dir2 <br>
     $if groupparam.superright != None :
       superright  $groupparam.superright <br>
     $if groupparam.superleft != None :
       superleft $groupparam.superleft <br>
     $if groupparam.tension != None :
       tension $groupparam.tension <br>
     $if groupparam.tensionand != None :
       tensionand $groupparam.tensionand <br>
     $if groupparam.cycle != None :
       cycle $groupparam.cycle <br>
     $if groupparam.penshifted != None :
       penshifted $groupparam.penshifted <br>
     $if groupparam.pointshifted != None :
       pointshifted $groupparam.pointshifted <br>
     $if groupparam.superness != None :
       supernesnn $groupparam.superness <br>
     $if groupparam.penwidth != None :
       penwidth $groupparam.penwidth <br>
     $if groupparam.xHeight != None :
       xHeight $groupparam.xHeight <br>
     $if groupparam.cardinal != None :
       cardinal $groupparam.cardinal <br>
     $if groupparam.overx != None :
       overx $groupparam.overx <br>
     $if groupparam.overbase != None :
       overbase $groupparam.overbase <br>
     $if groupparam.overcap != None :
       overcap $groupparam.overcap <br>
     $if groupparam.stemcutter != None :
       stemcutter $groupparam.stemcutter <br>
     $if groupparam.stemshift != None :
       stemshift $groupparam.stemshift <br>
     $if groupparam.inktrap_l != None :
       inktrap_l $groupparam.inktrap_l <br>
     $if groupparam.inktrap_r != None :
       inktrap_r $groupparam.inktrap_r <br>
</p>


<p id="menuleft"> points - parameters </p>
<p id="menuleft"> 
<!-- add new parameters here: -->
 
$for ppp in postspa:
   $if ppp.PointName != '' :
     $ppp.id $ppp.PointName
     $if ppp.startp != None :
         startp $ppp.startp
     $if ppp.doubledash != None :
         doubledash $ppp.doubledash
     $if ppp.tripledash != None :
         tripledash $ppp.tripledash
     $if ppp.leftp != None :
       leftp $ppp.leftp
     $if ppp.rightp != None :
       rightp $ppp.rightp
     $if ppp.downp != None :
       downp $ppp.downp
     $if ppp.upp != None :
       upp $ppp.upp
     $if ppp.dir != None :
       dir $ppp.dir
     $if ppp.leftp2 != None :
       leftp2 $ppp.leftp2
     $if ppp.rightp2 != None :
       rightp2 $ppp.rightp2
     $if ppp.downp2 != None :
       downp2 $ppp.downp2
     $if ppp.upp2 != None :
       upp2 $ppp.upp2
     $if ppp.dir2 != None :
       dir2 $ppp.dir2
     $if ppp.superright != None :
       superright  $ppp.superright
     $if ppp.superleft != None :
       superleft $ppp.superleft
     $if ppp.tension != None :
       tension $ppp.tension
     $if ppp.tensionand != None :
       tensionand $ppp.tensionand
     $if ppp.cycle != None :
       cycle $ppp.cycle
     $if ppp.penshifted != None :
       penshifted $ppp.penshifted
     $if ppp.pointshifted != None :
       pointshifted $ppp.pointshifted
     $if ppp.superness != None :
       supernesnn $ppp.superness
     $if ppp.penwidth != None :
       penwidth $ppp.penwidth
     $if ppp.xHeight != None :
       xHeight $ppp.xHeight
     $if ppp.cardinal != None :
       cardinal $ppp.cardinal
     $if ppp.overx != None :
       overx $ppp.overx
     $if ppp.overbase != None :
       overbase $ppp.overbase
     $if ppp.overcap != None :
       overcap $ppp.overcap
     $if ppp.overasc != None :
       overasc $ppp.overasc
     $if ppp.overdesc != None :
       overdesc $ppp.overdesc
     $if ppp.stemcutter != None :
       stemcutter $ppp.stemcutter
     $if ppp.stemshift != None :
       stemshift $ppp.stemshift
     $if ppp.inktrap_l != None :
       inktrap_l $ppp.inktrap_l
     $if ppp.inktrap_r != None :
       inktrap_r $ppp.inktrap_r
   <br>
</p>

<p style="color:black"> &#9678; z points </p>
<p style="color:blue"> &#9678; undefined points </p>
<p style="color:CCFFFF"> &#9678; control points </p>




<div id="center">
	<div>
		<left>&#124;&#124;&#124;&#124;&#124;&#124;&#124;</left>
	</div>
	
	<div>
		<middle>
			<span class="first">$webglyph</span><span class="second">&#124;&#124;&#124;&#124;&#124;&#124;&#124;</span> 
		<middle>
	</div>

$for posti in posts:
	<div id="$posti.id" style="$posti.position">
		<p>
			<a href="/view/$posti.id" style="text-decoration:none">&#9678;$posti.PointNr</a>
		</p>
	</div>
</div>